
.logo {
  width: 200px; /* ajusta el tamaño según sea necesario */
  height: 200px;
  /*background-color: #yourColor; cambia esto al color de fondo de tu logo*/
  border-radius: 50%; /* para hacer un círculo si es necesario */
  animation: rotate 2.5s linear infinite; /* ajusta la duración según sea necesario */
}

.logo img {
  width: 100%; /* asegura que la imagen ocupe todo el espacio del div */
  height: 100%;
  border: 3px solid white;
  border-radius: 50%; /* para hacer un círculo si es necesario */
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.rep {
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 700px; /* ajusta el tamaño según sea necesario */
  height: 10px;
  /*background-color: #yourColor; cambia esto al color de fondo de tu logo*/
  border-radius: 5%
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
